.dropdownMenuesRootRoot {
    width: 201px;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .dashboard1 {
    width: 152px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .text1 {
    margin: 2px 0px 0px 0px;
    color: #916bff;
    font-size: 17px;
    font-weight: 600;
    font-family: Inter;
    white-space: nowrap;
  }
  .siteOptimization1 {
    width: 201px;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
  }
  .settings {
    width: 24px;
    height: 24px;
    align-self: flex-start;
  }
  .text2 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: Inter;
    white-space: nowrap;
  }
  .analytics1 {
    width: 136px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .barchart {
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin: 0px 4px 0px 0px;
  }
  .text3 {
    margin: 0px 7px 2px 0px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: Inter;
    white-space: nowrap;
  }
  .myWorks1 {
    width: 147px;
    height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .folder {
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin: 0px 11px 0px 0px;
  }
  .text4 {
    margin: 0px 8px 3px 0px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: Inter;
    white-space: nowrap;
  }
  