@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* *********************************Main poage & page overview page CSS Start********************** */
.loader {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
}
.home-container .title-1{
  text-align: center;
  font-size: 50px;
  padding-top: 8%;
}
.home-container .title-2{
  text-align: center;
  font-size: 30px;
}
/* .hederfontsize {
  font-size: 50px;
} */

/* .sechederfontsize {
  font-size: 30px;
} */

/* .hedarmargin {
  padding-top: 8%;
} */

.Your-page-overview {
  margin-left: 5%;
  margin-top: 3.5%;
}

.high {
  height: 260px;
}

.aa {
  background-color: white;
  color: #161616;
}

.bgcol {
  background-color: white;
  color: #161616;
}

.boder {
  border-radius: 10px;
}

li:hover {
  color: #865aff;
}

.improve-btn {
  border-radius: 10px;
  background-color: #865aff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 65%;
  height: 60px;
}

.improve-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.improve-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.improve-btn:hover span {
  padding-right: 25px;
}

.improve-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-main {
  background: #865aff;
  border: 2px solid #865aff;
  width: 20%;
  height: 60px;
  overflow: hidden;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0px 1px 2px rgba(0,0,0,.2); */
}

.btnTwo {
  position: relative;
  width: 200px;
  height: 60px;
  background: #161616;
  left: -250px;
  transition: .3s;
  margin-top: -60px;
}

.btnText {
  color: white;
  transition: 1s;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnText2 {
  margin-right: -130px;
  color: #FFF;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-main:hover .btnTwo {
  /*When hovering over .btn-main change .btnTwo*/
  left: -130px;
}

.btn-main:hover .btnText {
  /*When hovering over .btn-main change .btnText*/
  margin-left: 65px;
}

.btn-main:active {
  /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

button:disabled {
  opacity: 0.3;
}

/* *********************************Main poage & page overview page CSS End********************** */

/* *********************************Lets impove page CSS Start********************** */

/* .letsimpovebgcol {
  background-color: #865aff;
  color: #FFF;
}

.bgcol1 {
  background-color: #865aff;
} */

.maindiv {
  width: 100%;
}

.firstcolordiv {

  background-color: #865aff;
}

.seccolordiv {
  background-color: #865aff;

}

.firstdiv {
  width: 32.5%;
  float: left;
  background-color: #FFFFFF;
}

.secdiv {
  width: 67%;
  float: right;
  background-color: #FFFFFF;
}

.hig {
  height: 65px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  color: #FFF;
}

.a {
  color: #FFF;
}

.boder1 {
  border-radius: 10px;
  border: 2px solid gray;
  background-color: #FFF
}

/* .ppp {
  background-color: bisque;
} */

/* .overflow{
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 95%;
  height: 200px;
  overflow:auto;
  border-radius: 10px; 
} */

::-webkit-scrollbar {
  width: 3px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: gray;
}

.firstdivscroll {
  overflow-y: auto;
  /* overflow: scroll; */
  /* overflow: hidden;  */


}

.secdivscroll {
  overflow-x: auto;

  /* overflow: scroll; */
}

/* ::-webkit-scrollbar-track {
  background: #661d1d; 
} */


/* ::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #666;
  outline: 1px solid #eee;
} */
.firstdivscroll::-webkit-scrollbar {
  display: none;
}

.radio {
  background-color: rgb(173, 40, 40);
}
.ppp:focus{
  background-color: #865aff !important;
  color: #FFFFFF;
}

/* *********************************Lets impove page CSS End********************** */
/* .aa1,
.aa2,
.aa3 {
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  bottom: -2px;
  box-shadow: 0 2px 0;
  left: -2px;
  right: -2px;
  top: -2px;
  z-index: -1;
  height: 53px;
  width: 300px;
  float: inline-start;
  box-shadow: 0 3px 0 #e3e3e3;
}

.aaa {
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  color: #afafaf;
  display: inline-flex;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  width: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.text {
  text-align: center;
  left: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-100%, -100%);
  font-family: 'Times New Roman', Times, serif;
}

.column ul li:hover {
  background-color: #f7f7f7;
}

.column ul li:focus {
  outline: none;
  background-color: #ddf4ff !important;
  color: #1899d6 !important;
  border: 2px solid #84d8ff !important;
  box-shadow: 0 3px 0 #84d8ff !important;
} */

/* .aa1{
  background-color: rgb(139, 131, 153);
} */

/* .column:hover{
  background-color: #865aff !important;
} */
